* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: capitalize;
}


html {
    font-size: 65%;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;


}


body {
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0;

}


.logo-name {
    @include typography(1.5rem, bolder, $green);
}

p {
    @include content(1.5rem, 1.5);


    @include max-width(779px) {
        @include content(16px, 2rem);
    }

    @include max-width(576px) {
        @include content(15px, 2rem);
    }
}


h1 {
    @include typography(58px, bold, $black);
    line-height: 65px;

    @include max-width(799px) {
        @include typography(50px, bold, $black);
        line-height: 48px;
    }

    @include max-width(576px) {
        @include typography(40px, bold, $black);
        line-height: 1.1;
    }
}



.title {
    @include typography(42px, bold, $black);

    @include max-width(779px) {
        @include typography(38px, bold, $black);
        @include flex-center;
    }

    @include max-width(576px) {
        @include typography(30px, bold, $black);
        @include flex-center;
    }
}