.about {
    @include flex-container(space-between, center);
    gap: 2rem;
    box-shadow: $box-shadow;
    flex-wrap: wrap;

    .image {
        flex-wrap: wrap;
        flex: 1 1 40rem;
        margin-left: 160px;
        margin-top: 100px;

        img {
            width: 500px;
            height: 500px;
        }

    }

    .content {
        flex: 1 1 40rem;

        .explore-more-btn {
            @include button-style(12px 85px, 17px);
        }
    }

    p {
        margin: 25px 0px;

    }
}


@media screen and (max-width: 799px) {
    .about {
        height: auto;

        .image {
            margin: 20px auto;
            @include flex-center;

            img {
                width: 70%;
                height: auto;
            }
        }

        .content {
            margin: 10px 20px;

            p {
                @include flex-center;

            }

            .explore-more-btn {
                margin: 30px 225px;


            }
        }
    }
}


@media (max-width: 576px) {

    .about {
        .content {
            .explore-more-btn {
                margin: 25px;
                @include button-style(10px 65px, 14px); 
            }
        }
    }

}


