footer {
    height: 100px;
    background-color: $light-gray;
    @include flex-container(space-around, center);

    padding: 3rem 6%;

    .extra-links a {
        margin: 0 27px;
        @include typography(1.7rem, bold, $gray);
        @include hover-color($orange);
    }

    .copyright {
        font-size: 1.7rem;
    }


}


@media screen and (max-width: 799px) {
    footer {
        @include flex-container(space-between, center);

        padding: 2rem 4%;

        .extra-links a {
            margin: 0 20px;
            @include typography(1.5rem, bold, $gray);

        }

        .copyright {
            font-size: 1.5rem;
        }
    }
}


@media (max-width: 576px) {
    footer {
        @include flex-center;

        .extra-links {
            display: none;
        }
    }

}