main .container {
    @include flex-container(space-between, center);
    box-shadow: $box-shadow;
    background-color: $light-gray;

    div.intro {
        margin-left: 170px;

        p {
            margin: 25px 0;
        }
    }

    div.image {
        width: 60%;

        img {
            width: 100%;
        }
    }
}




@media screen and (max-width: 799px) {
    main .container {
        div.intro {
            width: 80%;
            margin: 70px auto;
        }

        div.image {
            display: none;
        }
    }
}

