main .container {
    @include flex-container(space-between, center);
    box-shadow: $box-shadow;
    background-color: $light-gray;

    div.intro {
        margin-left: 170px;

        p {
            margin: 25px 0;
        }
    }


    .start-for-free-btn {
        @include button-style(12px 85px, 17px);
    }


    div.image {
        width: 60%;

        img {
            width: 100%;
        }
    }
}




@media screen and (max-width: 799px) {
    main .container {
        div.intro {
            width: 80%;
            margin: 70px auto;
        }

        div.image {
            display: none;
        }
    }
}



@media (max-width: 576px) {
    main .container {
        .start-for-free-btn {
            @include button-style(10px 65px, 14px);
        }
    }
}