.plan {
    background-color: $light-gray;
    padding: 80px 0;
    text-align: center;

    .box-container {
        margin-top: 50px;
        @include flex-center;


        .box {
            width: 300px;
            background-color: $white;
            border-radius: 10px;
            padding: 40px;
            margin: 10px;
            text-align: center;


            .amount {
                font-size: 36px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .list {
                text-align: left;
                margin-bottom: 20px;

                p {
                    margin: 8px 0;
                    display: flex;
                    align-items: center;
                    font-size: 12px;

                    .fas.fa-check {
                        margin-left: auto;
                        color: $green;
                    }

                    .fas.fa-times {
                        margin-left: auto;
                        color: $darkOrange;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 799px) {

    .plan {
        .box-container {
            .box {
                max-width: 240px;
            }
        }
    }
}





@media (max-width: 576px) {
    .plan {


        .box-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .box {

                h3 {
                    font-size: 20px;
                    margin-bottom: 8px;
                }

                .amount {
                    font-size: 28px;
                    margin-bottom: 10px;
                }

                .list {

                    p {
                        font-size: 10px;
                    }
                }
            }
        }
    }

}