.subscription {
    padding: 100px 0;
    background: url('/Assets/img/subscription-background.jpg') no-repeat;
    background-position: center;
    background-size: cover;

    .content {
        text-align: center;


        form {
            margin-top: 30px;

            input {
                margin-right: 10px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
                vertical-align: middle;
            }

            .email {
                width: 300px;
            }

            .subscribe-btn {
                vertical-align: middle;
                @include button-style(10px 20px, 15px);

            }
        }

    }
}




@media (max-width: 576px) {
    .subscription {
        padding: 40px 0;




        .content {

            .title {
                padding-bottom: 25px;
            }

            form {

                input {
                    margin-right: 5px;
                    padding: 8px;
                    font-size: 14px;
                }

                .email {
                    width: 60%;
                }

                .subscribe-btn {
                    @include button-style(8px 15px, 14px);
                }
            }
        }
    }

}